
@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-ExtraLight.ttf);
}
@font-face {
    font-family: rubik;
    src: url(../fonts/Rubik-Light.ttf);
}
@font-face {
    font-family: negrita;
    src: url(../fonts/Rubik-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection{
    background-color: #C8F353;
}
a{
    text-decoration: none;
}
p{
    font-family: rubik;
}
h1,h2,h3,h4,h5,h6{
    font-family: negrita;
  
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    align-items: center;
    background-color: transparent;
    position: sticky;
    border-bottom: 1px solid #D1F278
}
.header-logo{
    font-family: negrita;
    font-size: 2rem;
    font-weight: 800;
    transition: .2s;
    color: #D1F278;
}
.nav{
    display: block;
}
.nav-list{
    font-family: rubik;
    display: flex;
    gap: 1rem;
    
}
.nav-item{
    list-style-type: none;
}
.menu-link{
    color: black;
}
.menu-link:hover{
    background-color:#D1F278;
    border-radius: .5rem;
}
.header-button{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.button{
    display: flex;
    font-family: negrita;
    align-items: center;
    background-color: #D1F278;
    color: black;
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: solid .2rem #D1F278;
    
}
.button:hover {
    background-color: #C8F353;
}

.hero{
    background-color: transparent;
    display: flex;
    align-items: center;
    padding-inline: 8rem;
    align-items: center;
}

.hero-tittle{
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 2rem;
    font-size: 28px;
    color: #D1F278;
}
.hero-text{
    text-align: center;
    padding-bottom: 1rem;
    color: black;
    
}
.hero-image{
    height: 450px;
    width: 1000px;
    border-radius: 100%;
    padding: 3rem
}
.hero-text2{
    text-align: center;
    padding-bottom: 3rem;
    color: black;
}
.btn1{
    font-family: negrita;
    align-items: center;
    justify-content: center;
    background-color: #D1F278;
    color: black;
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: solid .2rem #D1F278;
}
.btn1:hover{
    background-color: #C8F353;
}

.frase{
    display: flex;
    padding: 2rem;
    background-color: #D1F278;
    color: black;
    text-align: center;
    justify-content: center;
}
.stickers{
   /*  background-color: #F9A5E0; */
    color: black;
    text-align: center;
    padding: 1rem;
}
.stickers-container{
    display: flex;
    justify-content: space-around;
}
.flower{
    height: 100px;
    width: 100px;
    padding-top: .5rem;
}
.sticker1, .sticker2, .sticker3 {
    max-width: 100%;
    padding-bottom: 1rem;
}
.flower-tittle{
    padding-bottom: 1rem;
    text-align: center;
}

.btn2{
   font-family: negrita;
   background-color: #D1F278;
   color: black;
   padding: .5rem 1rem;
   border-radius: .5rem;
   justify-content: center;
}
.blog{
    background-color: #D1F278;
    display: flex;
    align-items: center;
    padding-inline: 6rem;
}
.blog-tittle{
    color: black;
    padding-bottom: 3rem;
}
.blog-text{
    text-align: left;
    padding-bottom: 2rem;
    color: black;
}
.blog-image{
    height: 440px;
    width: 1000px;
    border-radius: 100%;
    padding: 3rem
}
.grid{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-template-areas: 
    "social   club";
}
.social{
    /* background-image: url(../images/byw.jpg); */
    text-align: center;
    color: black;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
}
.cuadro{
    background-color: #D1F278;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.icons{
    display: flex;
    gap: 1rem;
}
.icon{
    color: black;
    font-size: 2rem;
}
.social-tittle{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.social-text{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-inline: 2rem;
    font-size: 14px;
}
.club{
    /* background-color: #FD68B5; */
    text-align: center;
    color: black;
    padding-top: 3rem;
}
.club-text{
    padding-top: 2.5rem;
    padding-inline: 2rem;
    font-size: 15px;
}
.btn3{
    font-family: negrita;
    background-color: black;
    color: #D1F278;
    padding: .5rem 1rem;
    border-radius: .5rem;
    justify-content: center;
}

/****** DARK MODE ******/

body {
    transition: background-color .3s, color .3s;
}

body.dark-mode {
    background-color: #313638;
    color: white;
}

