@font-face {
    font-family: Groovy;
    src: url(../fonts/KeeponTruckin.ttf);
}
@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-ExtraLight.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
p{
    font-family: poppins;
}
h1,h2,h3,h4,h5,h6{
    font-family: groovy;
  
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    align-items: center;
    background-color: transparent;
    position: sticky;
}
.header-logo{
    font-family: groovy;
    font-size: 2rem;
    font-weight: 800;
    transition: .2s;
    color: #FD68B5;
}
.nav{
    display: block;
    color: #FCE2C9;
}
.nav-list{
    font-family: groovy;
    display: flex;
    gap: 1rem;
    
}
.nav-item{
    list-style-type: none;
}
.menu-link{
    color: #FCE2C9;
    text-decoration: underline .2rem;
}
.header-button{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.button{
    display: flex;
    font-family: groovy;
    align-items: center;
    background-color: #F9A5E0;
    color: #FD4B01;
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: solid .2rem #FD4B01;
    
}
.button:hover {
    background-color: #d9a4ad;
}

.hero{
    background-color: transparent;
    display: flex;
    align-items: center;
    padding-inline: 8rem;
}

.hero-tittle{
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 2rem;
    font-size: 28px;
    color: #FD4B01;
}
.hero-text{
    text-align: center;
    padding-bottom: 1rem;
    color: #FD68B5;
}
.hero-image{
    height: 450px;
    width: 1000px;
    border-radius: 100%;
    padding: 3rem
}
.hero-text2{
    text-align: center;
    padding-bottom: 3rem;
    color: #FD4B01;
}


.frase{
    display: flex;
    padding: 2rem;
    background-color: #FD68B5;
    color: #FCE2C9;
    text-align: center;
    justify-content: center;
}
.stickers{
    background-color: #FD4B01;
    color: #FD68B5;
    text-align: center;
    padding: 1rem;
}
.stickers-container{
    display: flex;
    justify-content: space-around;
}
.flower{
    height: 100px;
    width: 100px;
    padding-top: .5rem;
}
.sticker1, .sticker2, .sticker3 {
    max-width: 100%;
    padding-bottom: 1rem;
}
.flower-tittle{
    padding-bottom: 1rem;
    text-align: center;
}
.btn2{
   font-family: groovy;
   background-color: #F9A5E0;
   color: #FD4B01;
   padding: .5rem 1rem;
   border-radius: 45%;
   justify-content: center;
}
.blog{
    background-color: #FCE2C9;
    display: flex;
    align-items: center;
    padding-inline: 6rem;
}
.blog-tittle{
    color: #fd4b01;
    padding-bottom: 3rem;
}
.blog-text{
    text-align: left;
    padding-bottom: 2rem;
    color: #FD4B01;
}
.blog-image{
    height: 440px;
    width: 1000px;
    border-radius: 100%;
    padding: 3rem
}
.grid{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-template-areas: 
    "social   club";
}
.social{
    background-image: url(../images/byw.jpg);
    text-align: center;
    color: #FD4B01;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 3rem;
    padding-left: 3rem;
}
.cuadro{
    background-color: #FCE2C9;
    border-radius: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1rem #FCE2C9;

}
.icons{
    display: flex;
    gap: 1rem;
}
.icon{
    color: #FD4B01;
    font-size: 2rem;
}
.social-tittle{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.social-text{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-inline: 2rem;
    font-size: 14px;
}
.club{
    background-color: #FD68B5;
    text-align: center;
    color: #FCE2C9;
    padding-top: 3rem;
}
.club-text{
    padding-top: 2.5rem;
    padding-inline: 2rem;
    font-size: 15px;
}
.btn3{
    font-family: groovy;
    background-color: #FCE2C9;
    color: #FD68B5;
    padding: .5rem 1rem;
    border-radius: 45%;
    border: solid .3rem white;
    justify-content: center;
}

/****** DARK MODE ******/

body {
    transition: background-color .3s, color .3s;
}

body.dark-mode {
    background-color: black;
    color: #FD4B01;
}

